* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    overflow: hidden;
}

html {
    overflow-y: scroll;
}

body {
    background-image: url('../images/bg.png'); 
    background-size: cover;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.header {
    position: fixed;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background-color: #d5417a;
    border-bottom: 2px solid #282a29;
    display: flex;
    align-items: center;
    z-index: 100;
}

.header img {
    width: auto; 
    height: 50px;
}

.navbar {
    margin-left: auto;
}

.navbar a {
    font-size: 17px;
    color: #ffffff;
    text-decoration: none;
    padding: 20px; 
    transition: color 0.3s;
}

.navbar a:hover {
    color: #fbc538;
    transition: color 0.3s;
}

.intro-section {
    display: flex;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 150px);
    padding-top: 60px;
    text-align: center;
}

.image-container {
    position: relative;
    margin-right: 50px;
    padding-right: 20px;
}

.profile-photo {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 1px solid #282a29;
    box-shadow: 5px 5px;
    background-color: #d5417a;
}

.intro-text {
    width: 50%;
    display: flex;
    margin-top: 100px;
    flex-direction: column;
    align-items: flex-start;
}

.intro-text h1 {
    font-size: 60px;
    text-align: left;
    line-height: 1;
    padding-bottom: 10px;
    color: #282a29;
    margin: 0;
}

.intro-text p {
    font-weight: bold;
    font-size: 18px;
    line-height: 1.25;
    color: #282a29;
    text-align: left;
    margin-top: 5px;
    padding-bottom: 50px;
    width: 100%;
}

.lc-btn {
    padding: 10px 30px;
    margin-bottom: 10px;
    background-color: #fbc538;
    color: #282a29;
    border: 2px solid #282a29;
    box-shadow: 3px 3px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
}

.lc-btn:hover {
    background-color: #d5417a;
    color: #fbc538;
    border: 2px solid #282a29;
    box-shadow: 3px 3px #282a29 ;
    transition: color 0.3s;
}

.socials-icons {
    text-align: center; 
    margin-top: 20px; 
}

.socials-icons a {
    display: inline-block;
    width: 50px;
    height: 40px;
    margin: 0px 0px;
    color: #282a29;
    font-size: 25px; 

    padding: 10px;
    border-radius: 50%;
}

.socials-icons i:hover {
    color: #fbc538;
}
  
.contact-section {
    margin-top: 50px;
    padding: 50px 20px; /* Add some padding for spacing */
    background-image: url('images/bg.png'); 
    background-size: cover;
    background-position: center; 
    text-align: center; 
    color: #fff;
}

.contact-section h1 {
    font-size: 45px;
    text-align: center;
    line-height: 1;
    padding-bottom: 35px;
    color: #282a29;
    margin: 0;
}

.contact-section p {
    font-size: 18px;
    font-weight: bold;
    line-height: 1.25;
    margin: 0 auto 30px; 
    max-width: 600px; 
    line-height: 1.6; 
    color: #282a29; 
}

.contact-section form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-section input,
.contact-section textarea {
    width: 80%;
    max-width: 400px;
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
}

.contact-section input:focus,
.contact-section textarea:focus {
    border-color: #d5417a;
    outline: none;
}

.contact-section .submit-btn {
    padding: 10px 30px;
    margin-bottom: 10px;
    background-color: #fbc538;
    color: #282a29;
    border: 2px solid #282a29;
    box-shadow: 3px 3px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
    transition: background-color 0.3s;
}

.contact-section .submit-btn:hover {
    background-color: #d5417a;
    color: #fbc538;
    border: 2px solid #282a29;
    box-shadow: 3px 3px #282a29 ;
    transition: color 0.3s;
}


